body {
    background-image: url("background1.jpg"); /* картинка на фон сторінки */
    background-size: cover; /* розтягнути фон на всю сторінку */
}

h2 {
    display: block;/* показати як блок */
    text-align: center;/*Поставити тест на центр*/

    font-size: 40px;/*Розмір тексту*/
    font-family: Arial, Helvetica, sans-serif;/*Шрифт тексту*/
    font-weight: 700;/*Погрублення тексту*/

    background-image: linear-gradient(1deg, rgb(255, 252, 231), rgb(255, 237, 101));/*Градієнт тексту*/
    -webkit-background-clip: text; /* градієнт тільки на текст */
    background-clip: text; /* градієнт тільки на текст */
    color: transparent;/* зробити текст прозорим */

    text-shadow: 0 5px 10px rgba(0,0,0,0.2); /*Тінь тексту*/



    
    animation-name: show; /*Грати анімацію show*/
    animation-duration: 3s;/*Програти анімацію за 3 сек*/
    
}

h3 {
    display: block;/* показати як блок */
    text-align: center;/*Поставити тест на центр*/

    font-size: 35px;/*Розмір тексту*/
    font-family: Arial, Helvetica, sans-serif;/*Шрифт тексту*/
    font-weight: 700;/*Погрублення тексту*/

    background-image: linear-gradient(1deg, rgb(255, 252, 231), rgb(255, 237, 101));/*Градієнт тексту*/
    -webkit-background-clip: text; /* градієнт тільки на текст */
    background-clip: text; /* градієнт тільки на текст */
    color: transparent;/* зробити текст прозорим */

    text-shadow: 0 5px 10px rgba(0,0,0,0.2);/*Тінь тексту*/



    
    animation-name: show; /*Грати анімацію show*/
    animation-duration: 3s;/*Програти анімацію за 3 сек*/
    
}

p {
    display: block;/* показати як блок */
    text-align: center;/*Поставити тест на центр*/

    font-size: 15px;/*Розмір тексту*/
    font-family: Arial, Helvetica, sans-serif;/*Шрифт тексту*/
    font-weight: 700;/*Погрублення тексту*/

    background-color: rgb(255, 240, 200);/*Колір тексту*/
    -webkit-background-clip: text; /* колір тільки на текст */
    background-clip: text; /* колір тільки на текст */
    color: transparent;/* зробити текст прозорим */

    text-shadow: 0 5px 10px rgba(0,0,0,0.2);/*Тінь тексту*/


    
    animation-name: show; /*Грати анімацію show*/
    animation-duration: 3s;/*Програти анімацію за 3 сек*/

    margin-top: 15px;/*Відступити з верху*/
    margin-bottom: 80px;/*Відступити з низу*/
    
}

.title {
    display: block;/* показати як блок */
    text-align: center;/*Поставити тест на центр*/

    font-size: 45px;/*Розмір тексту*/
    font-family: Arial, Helvetica, sans-serif;/*Шрифт тексту*/
    font-weight: 700;/*Погрублення тексту*/

    background-image: linear-gradient(1deg, rgb(255, 252, 231), rgb(255, 237, 101));/*Градієнт тексту*/
    -webkit-background-clip: text; /* градієнт тільки на текст */
    background-clip: text; /* градієнт тільки на текст */
    color: transparent;/* зробити текст прозорим */

    text-shadow: 0 5px 10px rgba(0,0,0,0.2);/*Тінь тексту*/



    
    animation-name: show; /*Грати анімацію show*/
    animation-duration: 3s;/*Програти анімацію за 3 сек*/
    
}


.container-fluid {
    display: flex;/* включає flex режим */
    flex-direction: column;/* елементи йдуть зверху вниз */
    align-items: center;/* ставить елементи по центру */
    height: 50vh;/* висота контейнера = 50% висоти екрана */
}

.red-button {
    background-image: url("buttonframe.png"); /*Поставити на фон кнопки фото*/
    background-size: cover;/*Заповнити кнопку фоткою*/
    background-position: center;/*Поставити фото на центр*/
    width: 300px;/*Розмір в довжину*/
    height: 200px;/*Розмір в висоту*/

    display: flex;/* flex */
    align-items: center;/* текст по вертикалі */
    justify-content: center;/* текст по горизонталі */

    margin-top: 80px;/*Відступ з верху на 80*/


    animation-name: show; /*Грати анімацію show*/
    animation-duration: 3s;/*Програти анімацію за 3 сек*/


    color: white;/*Колір тексту*/
    font-size: 45px;/*Розмір тексту*/
    font-family: Arial, Helvetica, sans-serif;/*Шрифт тексту*/
    text-align: center;/*Поставити шрифт на центр*/
    font-weight: 700;/*Погрублення тексту*/
}


.red-button:hover {
    color: rgb(241, 111, 111);/*При наведені курсору на кнопку поміняти колір тексту*/
}


.small-button {
    background-image: url("buttonframe.png"); /*Поставити на фон кнопки фото*/
    background-size: cover;/*Заповнити кнопку фоткою*/
    background-position: center;/*Поставити фото на центр*/

    width: 170px;/*Розмір в довжину*/
    height: 90px;/*Розмір в висоту*/

    display: flex;/* flex */
    align-items: center;/* текст по вертикалі */
    justify-content: center;/* текст по горизонталі */

    color: white;/*Колір тексту*/
    font-size: 25px;/*Розмір тексту*/
    font-family: Arial, Helvetica, sans-serif;/*Шрифт тексту*/
    font-weight: 700;/*Погрублення тексту*/

    text-decoration: none;

    animation-name: transperancy;/*Грати анімацію transperancy*/
    animation-duration: 5s;/*Програти анімацію за 5 сек*/
}

.small-button:hover {
    color: rgb(241, 111, 111);/*При наведені курсору на кнопку поміняти колір тексту*/
}


.menu-left {
    position: absolute;/* абсолютна позиція */

    left: 20px;/* відступ зліва */
    top: 250px;/* відступ зверху */

    display: flex;
    flex-direction: column;/* кнопки вниз */

    gap: 50px;/* відстань */
}

.menu-right {
    position: absolute;/* абсолютна позиція */

    right: 20px;/* відступ зправа */
    top: 250px;/* відступ зверху */

    display: flex;
    flex-direction: column;/* кнопки вниз */

    gap: 50px;/* відстань */
}


.container-fluid {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100vh;/* висота на весь екран */

    position: relative;/* відносна позиція */
}

@keyframes show {
    from {
        opacity: 0; /*Прозрачний */
        margin-left: 80%; /*З лівої сторони */
    }
    to {
         margin-left: 0%; /*До нормальної позиції */
         opacity: 1;/*Видимий */
    }
    
}

@keyframes transperancy {
    from {
        opacity: 0;/*Прозрачний */
    }
    to {
         opacity: 1;/*Видимий */
    }
    
}


.music-player{ /*Розположення кнопки звука*/
    margin-top: 15px;/*З верху відступ 15*/
    margin-bottom: 30px;/*З низу відступ 30*/
}