<!DOCTYPE html>
<html> <!-- початок сторінки -->
    {% load static %}<!-- підключення static файлів Django -->

    <head><!-- початок head -->
        <title>{%block title %}Марс {% endblock %}</title> <!--назва вкладки-->

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <!--Boostrap-->
        <link rel="stylesheet" href="{%static 'style.css' %}"> <!--підключення стилів-->
    </head><!-- кінець head -->

    <body><!-- початок body -->

        <div class="container-fluid"><!-- контейнер bootstrap -->

            <h1 class="title">Історія колонії</h1> <!--заголовок-->
            <h2>Як людство прибуло на Марс і створила LOG-R986</h2><!--заголовок 2-->

            <img src ="{%static 'hronology.png' %}" alt="Хронологія" width="1000" height="700"> <!--фото-->

            
            <img src="{% static 'musicsis.PNG' %}" alt="Лінь читати? Послухай!" width="300" height="400"> <!--фото-->
            <br>

            <div class="music-player"> <!-- блок для музики -->
                <audio controls> <!-- аудіоплеєр -->
                    <source src="{% static 'historys.mp3' %}"> <!--музика-->
                </audio>
            </div>

            <br><br><br>



            <h3>Кризис на Землі</h3> <!--заголовок 3-->
            <p>На Землі поступово почали виникати серйозні екологічні та кліматичні проблеми.<br>
                Погодні умови ставали все більш нестабільними, а різкі зміни температури впливали на природні системи.<br>
                У багатьох регіонах з’явилася нестача прісної води та зниження врожайності.<br>
                Це призвело до труднощів у забезпеченні населення ресурсами для життя.<br>
                Частина територій стала малопридатною для проживання.<br>
                У зв’язку з цими змінами було розпочато пошук альтернативних рішень для збереження людської цивілізації.<br></p><!--текст-->

            <h3>Відкриття Марса</h3><!--заголовок 3-->
            <p>У процесі космічних досліджень увага науковців була зосереджена на Марсі.<br>
                Планета довгий час вважалася холодною та непридатною для життя, однак нові дані змінили це уявлення.<br>
                Було виявлено значні запаси льоду під поверхнею Марса.<br>
                Це відкриття мало важливе значення, оскільки вода є ключовим ресурсом для можливого існування життя.<br>
                Також були зафіксовані сліди давніх водних потоків.<br>
                Це свідчить про інші кліматичні умови в минулому планети.<br>
                Це підвищило інтерес до Марса як потенційного об’єкта для майбутніх місій.<br></p><!--текст-->

            <h3>Запуск Проекту LOG-R986</h3><!--заголовок 3-->
            <p>Було розпочато проект LOG-R986.<br>
                Його метою стало детальне дослідження Марса та оцінка можливості створення умов для майбутнього заселення.<br>
                Було розроблено космічний корабель та автономні роботизовані системи.<br> 
                Вони були створені для роботи без постійного втручання людини.<br>
                Проект об’єднав інженерів і науковців з різних країн.<br>
                Важливою частиною було забезпечення надійності всіх систем.<br></p><!--текст-->
            
            <h3>Політ до Марсу</h3><!--заголовок 3-->
            <p>Після запуску місія вирушила в напрямку Марса.<br>
                Подорож тривала кілька місяців.<br>
                Постійно здійснювався моніторинг стану корабля та обладнання.<br>
                Системи збирали інформацію про космічне середовище та випромінювання.<br>
                Усі підсистеми працювали стабільно.<br>
                Корабель поступово наближався до планети призначення.<br></p><!--текст-->

            <h3>Посадка/Будівництво бази</h3><!--заголовок 3-->
            <p>Після прибуття до Марса була виконана посадка космічного апарата.<br>
                Вона пройшла успішно.<br>
                Почалися дослідження поверхні.<br>
                Було визначено безпечну зону для розміщення обладнання.<br>
                Почалося створення базової інфраструктури.<br>
                Використовувалися місцеві ресурси, зокрема ґрунт і лід.<br></p><!--текст-->
            
            <h3>Життя колонії</h3><!--заголовок 3-->

            <p>Після завершення будівництва почала функціонувати автономна колонія.<br>
                Усі процеси контролювалися роботизованими системами.<br>
                Колонія поступово розширювалася.<br>
                Додавалися нові модулі для досліджень і енергозабезпечення.<br>
                Цей етап став основою для подальшого розвитку міжпланетних поселень.<br><br></p> <!--текст-->
                
            

 
            <br><br><br> 
            <a href="/" class="small-button">Додому</a><!-- Кнопка яка повертає до головної сторінки -->
        </div>

        <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
        <!--Boostrap-->


    </body> <!-- кінець body -->

</html> <!-- кінець html -->