<!DOCTYPE html>
<html> <!-- початок сторінки -->
    {% load static %}

    <head>
        <title>{%block title %}Марс {% endblock %}</title> <!--назва вкладки-->

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <!--Boostrap-->
        <link rel="stylesheet" href="{%static 'style.css' %}"> <!--підключення стилів-->
    </head>

    <body>

        <div class="container-fluid">

            <h1 class="title">Цілі колонії та майбутнє на Марсі <br><br><br></h1> <!--заголовок-->

            <img src="{% static 'musicsis.PNG' %}" alt="Лінь читати? Послухай!" width="300" height="400">
            <br>

            <div class="music-player">
                <audio controls>
                    <source src="{% static 'misions.mp3' %}" type="audio/mpeg">
                </audio>
            </div>

            <h3>Наука і експерименти</h3>
            <p>Після прибуття на Марс колоністи почали активно досліджувати поверхню планети.<br>
                Було виявлено, що температура на Марсі може опускатися до дуже низьких значень, а сильні пилові бурі часто ускладнюють роботу на поверхні.<br><br>
                Під час експедицій команда LOG-R986 знайшла поклади льоду під поверхнею Марса.<br>
                Це стало одним із найважливіших відкриттів місії, адже лід можна використовувати для створення води.<br></p>

            <h3>Дослідження планети</h3>
            <p>Для полегшення життя на Марсі вчені створили спеціальних роботів зі штучним інтелектом.<br>
                Вони можуть самостійно виконувати багато завдань навіть без допомоги людей.<br>
                Роботи допомагають:<br>
                1. контролювати рослини<br>
                2. очищати воду<br>
                3. переносити ресурси<br>
                4. підтримувати системи бази<br>
                Проте разом із людьми роботи працюють набагато швидше та ефективніше.<br></p>
            
            <h3>Зв’язок із Землею</h3>
            <p>Навіть перебуваючи за мільйони кілометрів від дому, колонія підтримує зв’язок із Землею через супутникові системи.<br>
                Через велику відстань сигнал доходить із затримкою, тому колоністам часто доводиться самостійно приймати важливі рішення.<br></p>
            
            <h3>Розширення життя</h3>
            <p>Для безпечного життя була створена велика підземна база зі сприятливою температурою та захистом від радіації і бур.<br>
                Усередині бази вирощуються рослини, які:<br>
                1. виробляють кисень<br>
                2. допомагають створювати їжу для колоністів<br>
                Знайдений марсіанський лід почали розтоплювати та очищати за допомогою систем фільтрації, перетворюючи його на воду.<br>
                Для виходу на поверхню були створені спеціальні скафандри, які дозволяють перебувати зовні приблизно 4 години.<br>
                Після використання їх потрібно заряджати та поповнювати запас кисню.<br>
                Енергію для бази забезпечують великі сонячні батареї та інші енергосистеми.<br></p>
            
            <h3>Нові території</h3>
            <p>Після стабілізації життя колонія почала досліджувати нові райони Марса.<br>
                Команди вирушають у експедиції для пошуку ресурсів і безпечних місць для майбутніх баз.<br>
                Досліджуються:<br>
                1. підземний лід<br>
                2. корисні мінерали<br>
                3. безпечні зони для будівництва<br>
                Для пересування використовуються марсоходи та роботи-розвідники.<br>
                Під час експедицій встановлюються сигнальні маяки для безпечної навігації.<br></p>

                <a href="/" class="small-button">Додому</a>
                
        </div>

        <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
        <!--Boostrap-->

        <main> 
            {% block content %}
            {% endblock %}
        </main>

    </body>
</html>