<!DOCTYPE html>
<html> <!-- початок сторінки -->
    {% load static %}<!-- підключення static файлів Django -->

    <head><!-- початок head -->
        <title>{%block title %}Марс {% endblock %}</title> <!--назва вкладки-->

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <!--Boostrap-->
        <link rel="stylesheet" href="{%static 'style.css' %}"> <!--підключення стилів-->
    </head><!-- кінець head -->

    <body><!-- початок body -->

        <div class="container-fluid"><!-- контейнер bootstrap -->

            <h1 class="title">База колонії</h1> <!--заголовок-->
            <h3>Для безпечного життя була створена велика підземна база зі сприятливою температурою та 
                захистом від радіації і бур.<br><br><br></h3> <!--заголовок 3-->
            

            <div class="menu-left"> <!--з лівої сторони кнопки-->
                <a href="/scafandersroom" class="small-button">Скафандри</a> <!--кнопка, href - перехід на дану сторінку,
                 сlass - взяти стиль small-button-->
                <a href="/wateroom" class="small-button">Вода</a><!--кнопка-->
                <a href="/cafeteria" class="small-button">Столова</a><!--кнопка-->
                <a href="/infirmary" class="small-button">Мед зона</a><!--кнопка-->
                <a href="/breakroom" class="small-button">К спокою</a><!--кнопка-->
            </div>
            
            <div class="menu-right"> <!--з правої сторони кнопки-->
                <a href="/planttoom" class="small-button">Рослини</a><!--кнопка-->
                <a href="/storage" class="small-button">Склад</a><!--кнопка-->
                <a href="/dormitorium" class="small-button">Житло</a><!--кнопка-->
                <a href="/therapy" class="small-button">Терапія</a><!--кнопка-->
                <a href="/soc" class="small-button">Соц зона</a><!--кнопка-->
            </div>


            <img src ="{%static 'map.png' %}" alt="Карта" width="1000" height="700"><!--фото-->
            <br><br>
            <a href="/VR" class="small-button">VR</a> <!--кнопка по центру-->
            <br><br><br><br><br><br>

            <img src="{% static 'musicsis.PNG' %}" alt="Лінь читати? Послухай!" width="300" height="400"> <!--фото alt- якщо фото не загрузе 
            то напиши..., width,height розмір картинки-->
            <br>

            <div class="music-player"> <!-- блок для музики -->
                <audio controls> <!-- аудіоплеєр -->
                    <source src="{% static 'bazas.mp3' %}"> <!--музика-->
                </audio>
            </div>

            <br><br><br>
            <a href="/" class="small-button">Додому</a><!-- Кнопка яка повертає до головної сторінки -->

        </div>

        <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
        <!--Boostrap-->

    </body> <!-- кінець body -->

</html> <!-- кінець html -->